@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Display', sans-serif;
}
.container
{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
    
}
header
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    background-color: #333333;
    gap: 20px;
}
.header_left,.header_right
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 44px;
    
}
.header_mid a
{
    font-weight: 300;
    font-size: 12px;
    padding: 0 20px;
    color: #e1e0e0;
    text-decoration: none;
    transition: 400ms;
}
.header_mid a:hover
{
    color: white;
}

.header_right
{
}
.header_right_left
{
    padding-left: 40px;

    filter: invert(70%);
}
.header_right_right
{
    padding-left: 35px;
    filter: invert(91%);
}
.mid_top_box
{
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-top: 15px;
    max-width: 910px;
    height: 66px;
    background-color: #F5F5F7;
    padding: 0 43px;
    gap: 17px;
}
.mid_top_box_1 span 
{
    font-weight: 600;
    font-size: 12px;
}
.mid_top_box_1 a
{
    text-decoration: none;
    color: #005EBD;
    font-size: 12px;
}
.mid_top_box_1 a:hover
{
    text-decoration:underline;
}
.mid_top_box_2,.mid_top_box_3,.mid_top_box_4,.mid_top_box_5 
{
    display: flex;
    gap: 7px;
    font-size: 12px;
}
.mid_top_box_2_top
{
}

.body_box_left p
{
    font-size: 17px;
    color: #BF4800;
}
.body_box_left h1
{
    font-size: 48px;
    font-weight: 400;
}
.body_box_left span
{
    font-size: 14px;
}
.body_box
{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.body_box_right
{

}
.body_box_right_bottom,.body_box_right_top
{
    display: block;
    align-items: center;
    height: 48px;
    background-color: #F5F5F7;
    padding: 10px 15px;
    border-radius: 57px;
}
.body_box_right_top
{
    margin-bottom: 10px;
}

.body_box_right_top_img:hover
{
    background-image: url(../img/211600_plus_circled_icon.svg);
    width: 15px;
    height: 15px;
}
.iphone
{
    margin-top: 120px;
    max-width: 592px;
    height: 586px;
}

